<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <meta charset="UTF-8">
    <title>Opret turnering</title>
</head>
<body>
    <header th:replace="fragments/top_menu :: top_menuElement"></header>
    <section>
        <form th:action="@{/turnering/opret_turnering}" th:object="${tournament}" method="post">
            <div class="col-auto">

                <div class="col-sm">
                    <h1>Opret en ny turnering</h1>
                </div>

                <div class="form-group col-sm-6" >
                    <label>Turneringsnavn</label>
                    <input type="text" class="form-control" placeholder="Navn" required="required" th:field="*{tournamentName}">
                    <span th:if="${#fields.hasErrors('tournamentName')}" th:errors="*{tournamentName}"></span>
                </div>

                <div class="form-group col-sm-6" >
                    <label>Dato og tid</label>
                    <input type="datetime-local" class="form-control" placeholder="Dato og tid" required="required" th:field="*{dateAndTime}">
                    <span th:if="${#fields.hasErrors('dateAndTime')}" th:errors="*{dateAndTime}"></span>
                </div>

                <div class="form-group col-sm-6" >
                    <label>Sted</label>
                    <input type="text" class="form-control" placeholder="Sted" th:field="*{place}">
                </div>

                <div class="form-group col-sm-6" >
                    <label>Turneringstype</label>
                    <div class="checkbox-inline">

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="cEDHTournamentType"  class="custom-control-input" th:value="cEDH" th:field="*{tournamentType}">
                            <label class="custom-control-label" for="cEDHTournamentType">cEDH</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="eDHTournamentType" class="custom-control-input" th:value="EDH" th:field="*{tournamentType}">
                            <label class="custom-control-label" for="eDHTournamentType">EDH</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="andetTournamentType" class="custom-control-input" th:value="Andet" th:field="*{tournamentType}">
                            <label class="custom-control-label" for="andetTournamentType">Andet</label>
                        </div>

                    <span th:if="${#fields.hasErrors('tournamentType')}" th:errors="*{tournamentType}"></span>
                    </div>
                </div>

                <div class="form-group col-sm-6">

                    <label>Pointstype</label>
                    <div class="checkbox-inline">

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="elimineringPointsType" class="custom-control-input" th:value="Eliminering" th:field="*{pointsType}">
                            <label class="custom-control-label" for="elimineringPointsType">Eliminering</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="pointPointsType" class="custom-control-input" th:value="Point" th:field="*{pointsType}">
                            <label class="custom-control-label" for="pointPointsType">Point</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="MilestonePointsType" class="custom-control-input" th:value="Milestone" th:field="*{pointsType}">
                            <label class="custom-control-label" for="MilestonePointsType">Milestone</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="andetPointsType" class="custom-control-input" th:value="Andet" th:field="*{pointsType}">
                            <label class="custom-control-label" for="andetPointsType">Andet</label>
                        </div>

                        <span th:if="${#fields.hasErrors('pointsType')}" th:errors="*{pointsType}"></span>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label>Yderligere information</label>
                    <textarea input th:field="*{furtherInformation}" class="form-control" rows="3" placeholder="Er der yderligere information?"></textarea>
                </div>

                <div class="form-group col-sm-6">
                    <button type="submit" class="btn btn-primary">Opret</button>
                </div>
            </div>
        </form>
    </section>

    <footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>