<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <meta charset="UTF-8">
    <title>Opret turnering</title>
</head>
<body>
    <header th:replace="fragments/top_menu :: top_menuElement"></header>
        <form th:action="@{/turnering/opret_turnering}" th:object="${tournament}" method="post">
            <div class="col-auto">

                <div class="col-md-6">
                    <h1>Opret en ny turnering</h1>
                </div>

                <div class="form-group col-md-6" >
                    <label for="TournamentName">Turneringsnavn</label>
                    <input type="text" name="tournamentName" id="TournamentName" class="form-control" placeholder="Navn" required="required" th:field="*{tournamentName}">
                    <span th:if="${#fields.hasErrors('tournamentName')}" th:errors="*{tournamentName}"></span>
                </div>

                <div class="form-group col-md-6" >
                    <label for="DateAndTime">Dato og tid</label>
                    <input type="datetime-local" name="dateAndTime" id="DateAndTime" class="form-control" placeholder="Dato og tid" required="required" th:field="*{dateAndTime}">
                    <span th:if="${#fields.hasErrors('dateAndTime')}" th:errors="*{dateAndTime}"></span>
                </div>

                <div class="form-group col-md-6" >
                    <label for="Place">Sted</label>
                    <input type="text" name="place" id="Place" class="form-control" placeholder="Sted" th:field="*{place}">
                    <span th:if="${#fields.hasErrors('place')}" th:errors="*{place}"></span>
                </div>

                <div class="form-group col-md-6" >
                    <label>Turneringstype</label>
                    <div class="checkbox-inline">

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="cEDHTournamentType" name="CEDHTournamentType" class="custom-control-input" th:value="cEDH" th:field="*{tournamentType}">
                            <label class="custom-control-label" for="cEDHTournamentType">cEDH</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="eDHTournamentType" name="EDHTournamentType" class="custom-control-input" th:value="EDH" th:field="*{tournamentType}">
                            <label class="custom-control-label" for="eDHTournamentType">EDH</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="andetTournamentType" name="AndetTournamentType" class="custom-control-input" th:value="Andet" th:field="*{tournamentType}">
                            <label class="custom-control-label" for="andetTournamentType">Andet</label>
                        </div>

                    <span th:if="${#fields.hasErrors('tournamentType')}" th:errors="*{tournamentType}"></span>
                    </div>
                </div>

                <div class="form-group col-md-6">

                    <label>Pointstype</label>
                    <div class="checkbox-inline">

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="elimineringPointsType" name="ElimineringPointsType" class="custom-control-input" th:value="Eliminering" th:field="*{pointsType}">
                            <label class="custom-control-label" for="elimineringPointsType">Eliminering</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="pointPointsType" name="PointPointsType" class="custom-control-input" th:value="Point" th:field="*{pointsType}">
                            <label class="custom-control-label" for="pointPointsType">Point</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="MilestonePointsType" name="milestonePointsType" class="custom-control-input" th:value="Milestone" th:field="*{pointsType}">
                            <label class="custom-control-label" for="MilestonePointsType">Milestone</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="andetPointsType" name="AndetPointsType" class="custom-control-input" th:value="Andet" th:field="*{pointsType}">
                            <label class="custom-control-label" for="andetPointsType">Andet</label>
                        </div>

                        <span th:if="${#fields.hasErrors('tournamentType')}" th:errors="*{pointsType}"></span>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="FurtherInformation">Yderligere information</label>
                    <textarea input th:field="*{furtherInformation}" class="form-control" id="FurtherInformation" rows="3" placeholder="Er der yderligere information?"></textarea>
                    <span th:if="${#fields.hasErrors('furtherInformation')}" th:errors="*{furtherInformation}">Fejl i yderligere information></span>
                </div>
            </div>
        </form>

    <footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>