<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <meta charset="UTF-8">
    <title>Turnering</title>
</head>
<body>
<div class="container-fluid page">

    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <section class="col-auto">

        <div class="col-sm">
            <h1>Turneringer</h1>

            <a class="btn btn-primary" th:href="@{/turnering/opret_turnering}" role="button">Opret turnering</a>

            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th hidden>Id</th>
                    <th>Turneringsnavn</th>
                    <th>Dato og tid</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="Tournament : ${tournament}">
                    <td hidden th:text="${Tournament.tournamentId}"></td>
                    <td th:text="${Tournament.tournamentName}"></td>
                    <!-- To format the LocalDateTime in Tournament (not show the T from ISO 8601) we use the
                    thymeleaf-extras-java8time dependecy, and use the #temporals utility to format the dateAndTime
                    
                    https://stackoverflow.com/questions/45629318/spring-with-thymeleaf-binding-date-in-html-form
                    https://www.baeldung.com/dates-in-thymeleaf -->
                    <td th:text="${#temporals.format(Tournament.dateAndTime, 'dd-MM-yy HH:mm')}"></td>

                    <td>
                        <!---Not yet implemented, only buttons --->
                        <a class="btn btn-primary" th:href="@{'/turnering'}" role="button">Opdater</a>
                        <a class="btn btn-primary" th:href="@{'/turnering'}" role="button">Slet</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>