<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <meta charset="UTF-8">
    <title>Bruger</title>
</head>
<body>
<div class="container-fluid page">
    <header th:replace="fragments/empty_top_menu :: empty_top_menuElement"></header>

    <div class="col-auto">

        <div class="col-sm-6">
            <h1>Ny bruger er oprettet </h1>
        </div>

        <div class="form-group col-sm-8">
            <span class="rowSize" th:text="${user.firstName}"></span>
            <span class="rowSize" th:text="${user.lastName}"></span>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>