<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/mainJS.js">
</head>
<body>

<!---https://www.baeldung.com/spring-security-login-error-handling-localization --->
<h1>Login</h1>
<form name='f' action="login" method='POST'>
    <table>
        <tr>
            <td>Brugernavn:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Kodeord:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <!--- validate virker ikke --->
            <td><input name="submit" type="submit" onsubmit=validate()  value="Login"  /></td>
        </tr>
    </table>
</form>
</body>

</html>
