<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerElement">
    <meta charset="UTF-8">
    <title>Opdater deck</title>
</head>
<body>

<div class="container-fluid page">

    <header th:replace="fragments/top_menu :: top_menuElement"></header>

    <section class="col-auto">
        <form th:action="@{/deck/opdater_deck}" th:object="${deck}" method="post">

            <div class="col-sm">
                <h1>Opdater deck</h1>
            </div>

            <!-- To update the Deck, the deckId need to be on the page, so it can be connected to the correct deck in the database -->
            <input type="hidden" th:field="*{deckId}">

            <div class="form-group col-sm-8">
                <label>Commander</label>
                <input type="text" class="form-control" placeholder="Commander" required="required"
                       th:field="*{commanderName}">
                <span th:if="${#fields.hasErrors('commanderName')}" th:errors="*{commanderName}"></span>
            </div>

            <div class="form-group col-sm-8">
                <label>Partner Commander</label>
                <input type="text" class="form-control" placeholder="Partner Commander"
                       th:field="*{partnerCommanderName}">
                <span th:if="${#fields.hasErrors('partnerCommanderName')}" th:errors="*{partnerCommanderName}"></span>
            </div>

            <div class="form-group col-sm-8">
                <label>Navnet på decket</label>
                <input type="text" class="form-control" placeholder="Decknavn" th:field="*{nameOfDeck}">
                <span th:if="${#fields.hasErrors('nameOfDeck')}" th:errors="*{nameOfDeck}"></span>
            </div>

            <div class="form-group col-sm-8">
                <label>Decktype</label>
                <div>
                    <!-- How to use enums in Thymeleaf: https://www.baeldung.com/thymeleaf-enums -->
                    <div th:each="gameType: ${T(com.padc.demo.core.enums.GameType).values()}">
                        <!-- Need to have the th:value, because it could have an array of values -->
                        <input type="radio" th:field="*{gameType}" required th:value="${gameType}">
                        <label th:text="${gameType.getDisplayValue()}"></label>
                    </div>
                    <span th:if="${#fields.hasErrors('gameType')}" th:errors="*{gameType}"></span>
                </div>
            </div>

            <div class="form-group col-sm-8">
                <button type="submit" class="btn btn-primary">Gem</button>
            </div>

        </form>
    </section>
</div>
<footer th:replace="fragments/footer :: footerElement"></footer>
</body>

<script>

    // Waits for the HTML and JavaScript to be loaded
    $(document).ready(function () {
        // The method autocomplete create a list of suggestions of matches to what the user has typed.
        // Autocomplete can recieve input from input elements, textarea elements and elements with the contenteditable attribute.
        // Autocomplete has different options (parameters) you can use, but it shall always has source option specified.
        // Source option defines what data to use. It can be an Array, String or an Function.
        // Here it uses a function that serves as a callback that gets two arguments - a request object and a response callback.
        // The function has a ajax request that fecth data from the external API.
        // The minLength option is also defined here to 3 - the number of characters a user must type before a search is performed.

        // https://api.jqueryui.com/autocomplete/
        // https://www.tutorialspoint.com/jqueryui/jqueryui_autocomplete.htm

        // source - JSON fil - kan være hvad som helst. her er function bagefter, fordi man ønsker at få
        // returneret et ajaxkald
        $('#commanderName, #partnerCommanderName').autocomplete(
            {
                source: function (request, response) {
                    // Browser logs the request object with all its properties (can see it in console of the browser)
                    console.dir(request);

                    // ajax make the connection to the external Api and fetch data from it
                    // https://api.jquery.com/jQuery.ajax/
                    $.ajax(
                        {
                            // The external API
                            url: 'https://api.magicthegathering.io/v1/cards',
                            // Type of data we are expecting back from the server
                            dataType: "json",
                            // The query parameters to the API
                            data:
                                {
                                    name: request.term,
                                    format: "Commander",
                                    supertypes: "Legendary",
                                    types: "Creature|Planeswalker",
                                    pageSize: 5,
                                    page: 1
                                },
                            // The function gets called if the request succeeded
                            // data is the returned JSON (formatted according to the dataType) from the API
                            success: function (data) {
                                // Browser logs the request object with all its properties (can see it in console of the browser)
                                console.dir(data)

                                // Make a empty array (similar to ArrayList from Java)
                                var commanderNameAPI = [];

                                // Loops through the cards
                                data.cards.forEach(function (card) {

                                    // We only want to have unique card names listed in the suggested list.
                                    // To secure that we use the $.inArray() method that searches after if the card.name
                                    // already exits in the commanderNameAPI array. If it exists it returns the index,
                                    // but if it does not it return -1.
                                    // If it returns -1 the card.name is pushed (similar to add in Java) to the commanderNameAPI array
                                    // https://api.jquery.com/jquery.inarray/
                                    if ($.inArray(card.name, commanderNameAPI) === -1) {
                                        commanderNameAPI.push(card.name);
                                    }
                                });
                                // Browser logs the commanderNameAPI array with all its properties (can see it in console of the browser)
                                console.dir(commanderNameAPI);

                                // response callback returns a single argument, that are the data to suggest to the user
                                // Here response return the result of the commanderNameAPI array back to source in autocomplete
                                response(commanderNameAPI);
                            }
                        });
                },
                minLength: 3
            });
    });

</script>
</html>