<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: headerElement">
    <meta charset="UTF-8">
    <title>Velkommen</title>
</head>
<body>
<div class="container-fluid page">
    <header th:replace="fragments/top_menu :: top_menuElement"></header>
    <section>

            <div class="col-auto">

                <!--- thymeleaf spring security has sec:authentification-tag which gets the name of the current user
                https://www.codejava.net/frameworks/spring-boot/get-logged-in-user-details --->
                <div class="col-sm">
                    <h1 class="velkommen">Velkommen til Commander Con, <h1 class="velkommen" sec:authentication="name"></h1> <h1 class="velkommen">!</h1> </h1>
                </div>
            </div>

    </section>
</div>
<footer th:replace="fragments/footer :: footerElement"></footer>
</body>
</html>